$primary: #030305;
$secondary: #fde52c;
$bgColor: #CE7CCB;
$bgColor2: #3598C2;

$pastelYellow: #FFFAA0;

$twitchBg: #9146ff;
$twitch: #f0f0ff;

$youtubeBg: #ff0000;

$instagramBg: #833ab4;

$discordBg: #5865f2;
$discord: #ffffff;